h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
  font-family: inherit;
  color: currentColor;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(254, 252, 250);
  color: gray;
}

h1 {
  padding: 30px;
}

p {
  padding: 20px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  min-width: 300px;
  max-width: 2560px;
  padding: 0 16px;
  margin: 0 auto;
}
.module__title {
  font-size: 24px;
}
.modules__list {
}
.module__item {
}
.module__link {
  display: block;
  padding: 20px 0;
}

.module__title__module7 {
  font-size: 24px;
}

.module__list__module7 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.module__item__title {
  font-size: 10px;
  margin-bottom: 10px;
}

.module__link__module7 {
  display: block;
  width: 70px;
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
}

.color__title {
  font-size: 18px;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 8px;
}
